
<div class="container mt-4">
  <h3 class="mb-4">Registrar gasto</h3>
  <form [formGroup]="billForm" (ngSubmit)="onSubmit()" class="container mt-4">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="supplier_id" class="form-label">Proveedor</label>
        <select id="supplier_id" formControlName="supplier_id" class="form-select">
          <option value="">Seleccione un proveedor</option>
          @for (provider of providers | async; track provider.id) {
            @if (provider.type == "SUPPLIER"){
              <option [value]="provider.id">{{ provider.name }}</option>
            }
          }
        </select>
      </div>

      <div class="col-md-6 mb-3">
        <label for="category_id" class="form-label">Categoria</label>
        <div class="input-group">
          <select id="category_id" formControlName="category_id" class="form-select">
            <option value="">Seleccione una categoría</option>
            @for (category of categories | async; track category.categoryBillId) {
              <option [value]="category.categoryBillId">{{ category.name }}</option>
            }
          </select>
          <button class="btn btn-outline-secondary" type="button" (click)="openNewCategoryModal()">+</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="period_id" class="form-label">Periodo</label>
        <select id="period_id" formControlName="period_id" class="form-select">
          <option value="">Seleccione un periodo</option>
          @for (period of periods | async; track period.id) {
            <option [value]="period.id">{{ period.month + '/' + period.year }}</option>
          }
        </select>
      </div>

      <div class="col-md-6 mb-3">
        <label for="type_id" class="form-label">Tipo</label>
        <select id="type_id" formControlName="type_id" class="form-select">
          <option value="">Seleccione un tipo</option>
          @for (type of types | async; track type.typeId) {
            <option [value]="type.typeId">{{ type.name }}</option>
          }
        </select>
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Descripción</label>
      <textarea id="description" formControlName="description" class="form-control" rows="3"></textarea>
    </div>

    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="amount" class="form-label">Monto</label>
        <input type="number" id="amount" formControlName="amount" class="form-control">
      </div>

      <div class="col-md-4 mb-3">
        <label for="date" class="form-label">Fecha</label>
        <input type="date" id="date" formControlName="date" class="form-control">
      </div>

      <div class="col-md-4 mb-3">
        <label for="status" class="form-label">Estado</label>
        <select id="status" formControlName="status" class="form-select">
          <option value="ACTIVE">Activo</option>
          <option value="CANCELLED">Cancelado</option>
        </select>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button type="button" (click)="resetForm()" class="btn btn-danger me-2">Cancelar</button>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>


<ng-template #newCategoryModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Nueva Categoría</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newCategoryForm">
      <div class="mb-3">
        <label for="newCategoryName" class="form-label">Nombre de la categoría</label>
        <input type="text" class="form-control" id="newCategoryName" formControlName="name">
      </div>
      <div class="mb-3">
        <label for="newCategoryDescription" class="form-label">Descripcion</label>
        <input type="text" class="form-control" id="newCategoryDescription" formControlName="description">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="saveNewCategory()">Confirmar</button>
    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">Cancelar</button>
  </div>
</ng-template>
