.icon-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Tamaño del círculo */
  height: 40px;
  border-radius: 50%; /* Hace el contenedor redondo */
  color: white; /* Color del ícono */
  font-size: 24px; /* Tamaño del ícono */
}

/* Clases de fondo de ejemplo */
.bg-cash {
  background-color: #28a745; /* Color de fondo verde */
}

.bg-house {
  background-color: #ffc107; /* Color de fondo amarillo */
}

.bg-houses {
  background-color: #17a2b8; /* Color de fondo amarillo */
}

.bg-info {
  background-color: #17a2b8; /* Color de fondo azul */
}
