<div class="d-flex text-nowrap align-items-center mb-3">
  <div class="row align-items-center gap-0">
    <div class="col nav-item">
      <h1>Gastos</h1>
    </div>

    <div class="col nav-item">
      <button
        type="button"
        class="btn btn-outline-secondary"
        routerLink="/gastos"
      >
        Listado
      </button>
    </div>

    <div class="col nav-item">
      <button
        type="button"
        class="btn btn-outline-secondary"
        routerLink="/gastos/nuevo"
      >
        Crear
      </button>
    </div>

    <div class="col nav-item">
      <button
        type="button"
        class="btn btn-outline-secondary"
        routerLink="/gastos/categorias"
      >
        Categorias
      </button>
    </div>

  </div>
</div>
