<app-main-container title="Registrar Cargo a Lote" (infoButtonClick)="showInfo()">
  <form [formGroup]="chargeForm" (ngSubmit)="onSubmit()" class="row g-3 m-2">

    <!-- Primera fila con Fecha de emisión y Lote -->
    <div class="col-md-6">
      <div class="d-flex align-items-center">
        <label for="fechaEmision" class="col-sm-2 col-form-label">Fecha<span class="text-danger">*</span></label>
        <div class="col-sm-10">
          <input
            type="date"
            class="form-control"
            id="fechaEmision"
            formControlName="date"
            [ngClass]="{
              'is-invalid': chargeForm.controls['date'].touched && chargeForm.controls['date'].hasError('required'),
              'is-valid': chargeForm.controls['date'].touched && chargeForm.controls['date'].valid
            }"
          />
          @if(chargeForm.controls['date'].touched && chargeForm.controls['date'].hasError('required')){
            <div class="invalid-feedback">
              La fecha es obligatoria.
            </div>
          }
        </div>
      </div>
    </div>
    

    <!-- <div class="col-md-6">
      <div class="d-flex align-items-center">
        <label for="lote" class="col-sm-4 col-form-label">Lote<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <select
            class="form-select rounded-end-3"
            id="lote"
            formControlName="lotId"
            [ngClass]="{ 'is-invalid': chargeForm.controls['lotId'].touched && chargeForm.controls['lotId'].hasError('required') }"
          >
            <option value="">Seleccione un lote</option>
            @for (lot of lots; track $index) {
              <option [value]="lot.id">{{lot.plot_number}}</option>
            }
          </select>
          <div *ngIf="chargeForm.controls['lotId'].touched && chargeForm.controls['lotId'].hasError('required')" class="invalid-feedback">
            El lote es obligatorio.
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-md-6">
      <div class="d-flex align-items-center">
        <label for="lotId" class="col-sm-2 col-form-label">Lote<span class="text-danger">*</span></label>
        <div class="col-sm-10">
          <div class="input-group">
            <ng-select
              id="lotId"
              [items]="lots"
              bindLabel="plot_number"
              bindValue="id"
              formControlName="lotId"
              [placeholder]="chargeForm.get('lotId')?.value ? '' : 'Seleccione un lote'"
              [appendTo]="'body'"
              [ngClass]="{
                'is-invalid': chargeForm.get('lotId')?.invalid && (chargeForm.get('lotId')?.dirty || chargeForm.get('lotId')?.touched),
                'is-valid': chargeForm.get('lotId')?.valid && (chargeForm.get('lotId')?.dirty || chargeForm.get('lotId')?.touched)
              }"
              [searchable]="true"
              notFoundText="No se encontraron lotes"
              class="form-select"
            >
            </ng-select>
            @if(chargeForm.controls['lotId'].touched && chargeForm.controls['lotId'].hasError('required')){
              <div class="invalid-feedback">
                El lote es obligatorio.
              </div>
            }
          </div>
        </div>
      </div>
    </div>
    

    <!-- Segunda fila con Categoría y Periodo -->
    <!-- <div class="col-md-6">
      <div class="d-flex align-items-center">
        <label for="tipo" class="col-sm-4 col-form-label">Categoría<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <select
            id="tipo"
            class="form-select rounded-end-3"
            formControlName="categoryChargeId"
            [ngClass]="{ 'is-invalid': chargeForm.controls['categoryChargeId'].touched && chargeForm.controls['categoryChargeId'].hasError('required') }"
          >
            <option value="">Seleccione una categoría</option>
            @for (item of categoriaCargos; track $index) {
              <option value="{{item.categoryChargeId}}">{{item.name}}</option>
            }
          </select>
          <div *ngIf="chargeForm.controls['categoryChargeId'].touched && chargeForm.controls['categoryChargeId'].hasError('required')" class="invalid-feedback">
            La categoría es obligatoria.
          </div>
        </div>
      </div>
    </div> -->

    <div class="col-md-6">
      <div class="d-flex align-items-center">
        <label for="categoryChargeId" class="col-sm-2 col-form-label">Categoría<span class="text-danger">*</span></label>
        <div class="col-sm-10">
          <div class="input-group">
            <ng-select
              id="categoryChargeId"
              [items]="categoriaCargos"
              bindLabel="name"
              bindValue="categoryChargeId"
              formControlName="categoryChargeId"
              [placeholder]="chargeForm.get('categoryChargeId')?.value ? '' : 'Seleccione una categoría'"
              [appendTo]="'body'"
              [ngClass]="{
                'is-invalid': chargeForm.get('categoryChargeId')?.touched && chargeForm.get('categoryChargeId')?.hasError('required'),
                'is-valid': chargeForm.get('categoryChargeId')?.touched && chargeForm.get('categoryChargeId')?.valid
              }"
              [searchable]="true"
              notFoundText="No se encontraron categorías"
              class="form-select"
            >
            </ng-select>
            <button class="btn form-control-sm border rounded-end-3 btn-outline-secondary" type="button" (click)="openNewCategoryModal()">
              <i class="bi bi-plus-lg"></i>
            </button>
            @if(chargeForm.get('categoryChargeId')?.touched && chargeForm.get('categoryChargeId')?.hasError('required')){
              <div class="invalid-feedback">
                La categoría es obligatoria.
              </div>
            }
          </div>
        </div>
      </div>
    </div>
    
    
    
    

    <!-- <div class="col-md-6">
      <div class="d-flex align-items-center">
        <label for="periodo" class="col-sm-4 col-form-label">Periodo<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <select
            class="form-select rounded-end-3"
            formControlName="periodId"
            [ngClass]="{ 'is-invalid': chargeForm.controls['periodId'].touched && chargeForm.controls['periodId'].hasError('required') }"
          >
            <option value="">Seleccione un periodo</option>
            @for (item of listPeriodo; track $index) {
              <option value="{{ item.id }}">{{ item.month }} / {{ item.year }}</option>
            }
          </select>
          <div *ngIf="chargeForm.controls['periodId'].touched && chargeForm.controls['periodId'].hasError('required')" class="invalid-feedback">
            El periodo es obligatorio.
          </div>
        </div>
      </div>
    </div> -->

    <div class="col-md-6">
      <div class="d-flex align-items-center">
        <label for="periodId" class="col-sm-2 col-form-label">Periodo<span class="text-danger">*</span></label>
        <div class="col-sm-10">
          <div class="input-group">
            <ng-select
              id="periodId"
              [items]="formattedPeriods"
              formControlName="periodId"
              [bindValue]="'id'"
              [bindLabel]="'displayPeriod'"
              [compareWith]="comparePeriodFn"
              [placeholder]="chargeForm.get('periodId')?.value ? '' : 'Seleccione un periodo'"
              [appendTo]="'body'"
              [ngClass]="{
                'is-invalid': chargeForm.get('periodId')?.invalid && (chargeForm.get('periodId')?.dirty || chargeForm.get('periodId')?.touched),
                'is-valid': chargeForm.get('periodId')?.valid && (chargeForm.get('periodId')?.dirty || chargeForm.get('periodId')?.touched)
              }"
              [searchable]="true"
              notFoundText="No se encontraron periodos"
              class="form-select rounded-end-3"
            >
            </ng-select>
            <div class="invalid-feedback">
              El periodo es obligatorio.
            </div>
          </div>
        </div>
      </div>
    </div>
    
    

    <!-- Tercera fila con Monto -->

    <div class="col-md-6">
      <div class="d-flex align-items-center">
        <label for="amount" class="col-sm-2 col-form-label">Monto<span class="text-danger">*</span></label>
        <div class="col-sm-10">
          <input placeholder="Ingrese un monto" type="number" id="amount" formControlName="amount" class="form-control"
            [ngClass]="{
            'is-invalid': chargeForm.get('amount')?.invalid && (chargeForm.get('amount')?.dirty || chargeForm.get('amount')?.touched),
            'is-valid': chargeForm.get('amount')?.valid && (chargeForm.get('amount')?.dirty || chargeForm.get('amount')?.touched)
          }">
          @if(chargeForm.get('amount')?.errors?.['required'] &&
          (chargeForm.get('amount')?.dirty || chargeForm.get('amount')?.touched)){
            <div class="invalid-feedback">
              El monto es obligatorio.
            </div>
          }
          @if(chargeForm.get('amount')?.errors?.['min']){
            <div class="invalid-feedback">
              Solo se permiten montos positivos.
            </div>
          }
          @if(chargeForm.get('amount')?.errors?.['max']){
            <div class="invalid-feedback">
              Solo se permiten montos negativos.
            </div>
          }
        </div>
      </div>
    </div>
    

    <!-- Cuarta fila con Descripción ocupando toda la fila -->
    <div class="col-12">
      <div class="d-flex align-items-center">
        <label for="description" class="col-sm-1 col-form-label">Descripción</label>
        <div class="col-sm-11">
          <textarea placeholder="Ingrese una descripción" id="description" formControlName="description"
            class="form-control" rows="3"></textarea>
        </div>
      </div>
    </div>
    
    <!-- <div class="col-md">
      <div class="d-flex align-items-center">
        <label for="description" class="col-sm-1 col-form-label">Descripción</label>
        <div class="col-sm-11">
          <textarea placeholder="Ingrese una descripción" id="description" formControlName="description"
            class="form-control" rows="3"
            [ngClass]="{'is-invalid': billForm.get('description')?.invalid && (billForm.get('description')?.dirty || billForm.get('description')?.touched)}"></textarea>
        </div>
      </div>
    </div> -->

    <!-- Fila de botones -->
    <div class="col-12 d-flex justify-content-end">
      <div class="mx-2">
        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" [disabled]="chargeForm.invalid">Guardar</button>
      </div>
    </div>

  </form>
</app-main-container>
