<div class="container" style="padding-top: 16px">
  <h1 class="card-title mb-4">Registrar cargo a lote</h1>

  <div class="card-body">
    <form [formGroup]="chargeForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="row">
            <label for="fechaEmision" class="col-sm-4 col-form-label">Fecha de emisión<span style="color: red;">*</span></label>
            <div class="col-sm-8">
              <input
                type="date"
                class="form-control"
                id="fechaEmision"
                formControlName="date"
                [ngClass]="{ 'is-invalid': chargeForm.controls['date'].touched && chargeForm.controls['date'].hasError('required') }"
              />
              <div *ngIf="chargeForm.controls['date'].touched && chargeForm.controls['date'].hasError('required')" class="invalid-feedback">La fecha es obligatoria.</div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label for="lote" class="col-sm-4 col-form-label">Lote<span style="color: red;">*</span></label>
            <div class="col-sm-8">
              <select
                class="form-select"
                id="lote"
                formControlName="lotId"
                [ngClass]="{ 'is-invalid': chargeForm.controls['lotId'].touched && chargeForm.controls['lotId'].hasError('required') }"
              >
                <option value="">Seleccione un lote</option>
                @for (lot of lots; track $index) {
                  <option [value]="lot.id">{{lot.plot_number}}</option>
                }
              </select>
              <div *ngIf="chargeForm.controls['lotId'].touched && chargeForm.controls['lotId'].hasError('required')" class="invalid-feedback">El lote es obligatorio.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <div class="row">
            <label for="tipo" class="col-sm-4 col-form-label">Categoría<span style="color: red;">*</span></label>
            <div class="col-sm-8">
              <select
                id="tipo"
                class="form-select"
                formControlName="categoryChargeId"
                [ngClass]="{ 'is-invalid': chargeForm.controls['categoryChargeId'].touched && chargeForm.controls['categoryChargeId'].hasError('required') }"
              >
                <option value="">Seleccione una categoría</option>
                @for (item of categoriaCargos; track $index) {
                  <option value={{item.categoryChargeId}}>{{item.name}}</option>
                }
              </select>
              <div *ngIf="chargeForm.controls['categoryChargeId'].touched && chargeForm.controls['categoryChargeId'].hasError('required')" class="invalid-feedback">La categoría es obligatoria.</div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label for="periodo" class="col-sm-4 col-form-label">Periodo<span style="color: red;">*</span></label>
            <div class="col-sm-8">
              <select
                class="form-select"
                formControlName="periodId"
                [ngClass]="{ 'is-invalid': chargeForm.controls['periodId'].touched && chargeForm.controls['periodId'].hasError('required') }"
              >
                <option value="">Seleccione un periodo</option>
                @for (item of listPeriodo; track $index) {
                  <option value="{{ item.id }}">{{ item.month }} / {{ item.year }}</option>
                }
              </select>
              <div *ngIf="chargeForm.controls['periodId'].touched && chargeForm.controls['periodId'].hasError('required')" class="invalid-feedback">El periodo es obligatorio.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <div class="row">
            <label for="monto" class="col-sm-4 col-form-label">Monto<span style="color: red;">*</span></label>
            <div class="col-sm-8">
              <input
                type="number"
                class="form-control"
                id="monto"
                formControlName="amount"
                [ngClass]="{ 'is-invalid': chargeForm.controls['amount'].touched && chargeForm.controls['amount'].hasError('required') }"
              />
              <div *ngIf="chargeForm.controls['amount'].touched && chargeForm.controls['amount'].hasError('required')" class="invalid-feedback">El monto es obligatorio.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-12">
          <div class="row">
            <label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
            <div class="col-sm-10">
              <textarea
                id="descripcion"
                class="form-control"
                rows="3"
                formControlName="description"
              ></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="form row mt-2">
        <div class="col-6 d-flex justify-content-start">
          <button type="button" class="btn btn-secondary" (click)="onBack()">Volver</button>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <button type="button" class="btn btn-danger me-2" (click)="onCancel()">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="chargeForm.invalid">Guardar</button>
          <button type="button" class="btn btn-secondary ms-2" (click)="showInfo()"><i class="bi bi-info-circle"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>
