<div
  class="container"
  style="display: flex; flex-direction: column; gap: 24px; padding-top: 16px"
>
 

  
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Período</th>
          <th scope="col">Monto Total</th>
          <th scope="col">Fecha de liquidación</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (expense of expenses; track $index ) {
        <tr>
          <td>{{ expense.period?.month }} / {{ expense.period?.year }}</td>
          <td>{{ expense.totalAmount }}</td>
          <td>{{ expense.liquidationDate }}</td>
          <td>{{ expense.state }}</td>
          <td><button class="btn btn-primary">Accion</button></td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
