<div
class="container"
style="display: flex; flex-direction: column; gap: 24px; padding-top: 16px"
>
    <div class="row">
        <div class="col">
          <h2>Buscar expensas</h2>
        </div>
    </div>
    <div class="col-2" >
        <label for="perido">Periodo</label>
        <app-period-select (periodSelected)="loadSelect()"
    ></app-period-select>
    </div>
     
    <div class="col-2">
          <label for="">Lote</label>
          <select name="lote" id="lote" class="form-select" aria-label="Default select example" [ngModel]="selectedOptionLot" (ngModelChange)="onOptionChange($event)">
            @for (lot of lots; track $index ) {
              <option [value]="lot.id">{{lot.plot_number}}</option>
            }
          </select>
    </div>
      <div>
        <table class="table">
          <thead>
            <tr>
             
              <th scope="col">Período</th>
              <th scope="col">Monto Total</th>
              <th scope="col">Fecha de liquidación</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for (expense of expenses; track $index ) {
              <tr>
                <td>{{expense.period?.month}} / {{expense.period?.year}} </td>
                <td>{{expense.totalAmount}} </td>
                <td>{{expense.liquidationDate}}</td>
                <td>{{expense.state}}</td>
                <td><button class="btn btn-primary" >Accion</button></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
   
</div>
