<div class="d-flex text-nowrap align-items-center">
  <div class="row align-items-center gap-2">
    <div class="col nav-item">
      <h1>Cargos</h1>
    </div>

    <div class="col nav-item">
      <button
        type="button"
        class="btn btn-outline-secondary"
        routerLink="/cargos"
      >
        Listado
      </button>
    </div>

    <div class="col nav-item">
      <button
        type="button"
        class="btn btn-outline-secondary"
        routerLink="/cargos/nuevo"
      >
        Crear
      </button>
    </div>

    <!-- <div class="col nav-item">
      <button
        type="button"
        class="btn btn-outline-secondary"
        routerLink="/cargos/categorias"
      >
        Categorias
      </button>
    </div> -->

  </div>
</div>
