<app-main-container title="Lista de Expensas" (infoButtonClick)="showInfo()">
    <div class="row" style="align-items:end" >

      <div class="d-flex justify-content-between align-items-center mb-3">
        <!-- Sección de búsqueda y filtros -->
        <div class="d-flex align-items-center mb-2" role="group">
          <div class="col-sm-12 col-md-8 col-xl-12">
            <div class="input-group">
            <span class="input-group-text" id="search-icon">
              <i class="bi bi-search"></i>
            </span>
              <input
                type="text"
                class="form-control"
                id="filter-text-box"
                (input)="onFilterTextBoxChanged($event)"
                placeholder="Buscar..."
              />
              <app-table-filters [filters]="filterConfig" (filterValueChange)="filterChange($event)"></app-table-filters>
            </div>
          </div>
        </div>
        <!-- Botones de Activo, Inactivo, Todo y "+" en el mismo grupo -->
        <div class="d-flex align-items-center">
          <!-- Línea vertical y botones de exportación -->
          <div class="vertical-line mx-3"></div>
          <button class="btn btn-success me-2" (click)="downloadTable()">
            <i class="bi bi-file-earmark-excel"></i>
          </button>
          <button class="btn btn-danger me-2" (click)="imprimir()">
            <i class="bi bi-file-earmark-pdf"></i>
          </button>
        </div>
      </div>


<!-- Modal con los selectores -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog" style=" z-index: 1040;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Filtrar por:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Selectores dentro del modal -->

        <div class="row">
          <div class="col-12 mb-3 d-flex align-items-center">
            <label for="periodo" class="me-2" style="width: 100px;">Periodo</label>
            <select name="periodo" id="periodo" class="form-select" style="flex: 1;" aria-label="Default select example" [(ngModel)]="selectedPeriodId">
              <option [value]="0">Todos</option>
              @for (period of periodos | orderBy: ['year']; track $index) {
                <option [value]="period.id">{{period.month}} / {{period.year}}</option>
              }
            </select>
          </div>

          <div class="col-12 mb-3 d-flex align-items-center">
            <label for="lote" class="me-2" style="width: 100px;">Lote</label>
            <select name="lote" id="lote" class="form-select" style="flex: 1;" aria-label="Default select example" [(ngModel)]="selectedLotId">
              <option [value]="0">Todos</option>
              @for (lot of lots | orderBy: ['plot_number']; track $index) {
                <option [value]="lot.id">{{lot.plot_number}}</option>
              }
            </select>
          </div>

          <div class="col-12 mb-3 d-flex align-items-center">
            <label for="tipoExpensa" class="me-2" style="width: 100px;">Tipo de expensa</label>
            <select name="tipoExpensa" id="tipoExpensa" class="form-select" style="flex: 1;" aria-label="Default select example" [(ngModel)]="selectedTypeId">
              <option [value]="0">Todas</option>
              @for (tipo of tipos | orderBy: ['name']; track $index) {
                <option [value]="tipo.bill_type_id">{{tipo.name}}</option>
              }
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" (click)="clearFilters()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
            </svg>
          </button>
         <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>-->
          <button type="button" class="btn btn-outline-primary" (click)="applyFilters()" data-bs-dismiss="modal">
            <i class="bi bi-search"></i>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

      <div style="height: 500px; overflow-y: auto;">
      <table class="table table-striped fixed-table" style="border: 1px solid rgba(0, 0, 0, 0.150); border-collapse: collapse;" id="table-data">
        <thead class="justify-content-end">
          <tr>
            <th scope="col">Número de Lote</th>
            <th scope="col">Tipo de lote</th>
            <th scope="col">Periodo</th>
            <th scope="col">Porcentaje</th>
            <th scope="col">Tipo de expensa</th>
            <th scope="col">Fecha de liquidación</th>
            <th scope="col" style="text-align: right">Monto Total</th>

          </tr>
        </thead>
        <tbody>

          @for (expense of expenses | filterBy: ['lotId', 'month','totalAmount','liquidationDate','state','plotNumber','typePlot','percentage','billType']: searchTerm; track $index) {
            <tr>
                <td>{{expense.plotNumber}} </td>
                <td>{{expense.typePlot}}</td>
                <td>{{expense.month }}-{{ expense.period.year }} </td>
                <td>{{expense.percentage  * 100 + '%'}}</td>
                <td>{{expense.billType}}</td>
                <td>{{expense.liquidationDate | date:'MMM d, yyyy'}}</td>
              <td style="text-align:  right">{{expense.totalAmount.toLocaleString("es-AR", {
                style: "currency",
                currency: "ARS",
                minimumFractionDigits: 2,
                maximumFractionDigits: 2
              }) }}</td>
            </tr>
          }@empty {
            <td colspan="7" class="text-center">
              <div class="text-center p-3">
                <div class="alert alert-secondary">
                  No hay expensas para mostrar
                </div>
              </div>
            </td>}

        </tbody>
      </table>
    </div>
      <div class="row align-items-end">
        <div class="col-1 d-flex justify-content-start">
          <select name="cantidadPaginas" style="width: 200px;" id="cantidadPaginas" class="form-select" aria-label="Cantidad de elementos por página" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange()">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
          </select>
        </div>

        <div class="col d-flex justify-content-end align-items-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
              <!-- Botón de página anterior -->
              <li class="page-item" [class.disabled]="currentPage === 0">
                <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>

              <!-- Páginas visibles limitadas -->
              <li class="page-item" *ngFor="let page of visiblePages" [class.active]="page === currentPage">
                <a class="page-link" (click)="onPageChange(page)">{{ page + 1 }}</a>
              </li>

              <!-- Botón de página siguiente -->
              <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
                <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
  </div>


      <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="infoModalLabel">Información</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Esto es una prueba
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

</app-main-container>
