<app-expenses-period-nav />
<div
  class="container"
  style="display: flex; flex-direction: column; gap: 24px"
>
  @if (liquidationExpensesList.length>0) {

  <div class="row" style="justify-content: space-around">
    <div class="row" style="justify-content: space-around; align-items: center">
      <div
        class="col-3"
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        "
      >
        <button
          class="btn"
          [ngClass]="
            liquidationExpensesList[0]?.blocked ? 'btn-primary' : 'btn-danger'
          "
          (click)="
            open(modalTemplate, liquidationExpensesList[0].expense_id || null)
          "
        >
          @if (liquidationExpensesList[0]?.blocked) { Abrir Liquidación } @else
          { Cerrar Liquidación }
        </button>
      </div>
      <div
        class="col-3"
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        "
      >
        <h5 class="card-title"><b>Estado</b></h5>
        <p class="card-text">
          {{ liquidationExpensesList[0].period?.state }}
        </p>
      </div>

      <!-- Card para Período -->
      <div
        class="col-3"
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        "
      >
        <h5 class="card-title"><b>Período</b></h5>
        <p class="card-text">
          {{ liquidationExpensesList[0].period?.month }} -
          {{ liquidationExpensesList[0].period?.year }}
        </p>
      </div>
    </div>
  </div>

  @for (liquid of liquidationExpensesList; track $index) {
  <div>
    <div style="display: flex; flex-direction: row; gap: 6px">
      <h4>{{ liquid.bill_type?.name }}</h4>
      <button
        class="btn btn-success"
        (click)="seeDetail(liquid.expense_id, liquid.period?.id || null)"
      >
        Ver
      </button>
      <button
        class="btn"
        [ngClass]="liquid.close ? 'btn-primary' : 'btn-danger'"
        (click)="closeLiquidation(liquid.expense_id)"
      >
        @if (liquid.close) { Desbloquear } @else { Bloquear }
      </button>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Categoria</th>
          <th scope="col">Tipo</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Monto</th>
        </tr>
      </thead>
      <tbody>
        @for (bill of liquid.liquidation_expenses_details; track $index) {

        <tr>
          <td style="width: 33%">{{ bill.category?.name }}</td>
          <td style="width: 33%">{{ liquid.bill_type?.name }}</td>
          <td style="width: 33%">{{ bill.quantity }}</td>
          <td style="width: 33%">${{ bill.amount }}</td>
          <td></td>
        </tr>
        }
      </tbody>
    </table>
    <div style="width: 100%; justify-content: end">
      <p style="text-align: end">
        <b>Total: ${{ liquid.total_amount }} </b>
      </p>
    </div>
  </div>
  } } @else { No hay liquidaciones }
</div>

<ng-template #modalTemplate let-modal>
  <app-expenses-modal
    [title]="'Liquidacion de expensas'"
    [paragraph]="
      'La liquidación se cerrará. No se podrán asociar mas gastos a este período.'
    "
    (onAccept)="closeLiquidationPeriod()"
    (onCancel)="modal.dismiss('cancel')"
  ></app-expenses-modal>
</ng-template>

