<nav style="height: 5vh; width: 100%; border-bottom: 1px solid white; position: fixed; top: 0; left: 0; z-index: 1000;" class="bg-dark">
</nav>
<div class="row" style="height: 95vh; width: 100%; padding-top: 8px;">
    <div class="col-2 " style="height: 100%;" >
        <nav class="bg-dark " style="height: 100%; padding-top: 15px;"  >
                    <ul class="navbar-nav" style="padding: 5px; gap: 5px;">
                        <li class="nav-item">
                            <a class="nav-link text-white" routerLink="/periodo" routerLinkActive="active">Periodo</a>
                        </li>

                        <li class="nav-item">

                            <a class="nav-link text-white" routerLink="/gastos" routerLinkActive="active">Gastos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" routerLink="/expenses" routerLinkActive="active">Expensas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" routerLink="/cargos" routerLinkActive="active">Cargos</a>
                        </li>

                    </ul>
        </nav>
    </div>
    <div class="col-10 sticky-content" style="padding-top: 5vh;">
        <router-outlet></router-outlet>
    </div>
</div>
