.summary-stats {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 1rem;
  }
  .stat-item {
    padding: 1rem;
    border-radius: 8px;
    background-color: #f8f9fa;
  }
  .stat-item h3 {
    margin: 0;
    color: #0d6efd;
    font-weight: bold;
  }
  .stat-item p {
    margin: 0;
    color: #6c757d;
  }
  .card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border: none;
    border-radius: 0.5rem;
  }
  .card-title {
    color: #495057;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }


.top-supplier-card {
  position: absolute;
  right: 0;
  top: 20px;
  width: 200px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.hover-show-close .close-btn {
  visibility: hidden;
}

.hover-show-close:hover .close-btn {
  visibility: visible;
}
.icon-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Tamaño del círculo */
  height: 40px;
  border-radius: 50%; /* Hace el contenedor redondo */
  color: white; /* Color del ícono */
  font-size: 24px; /* Tamaño del ícono */
}

/* Clases de fondo de ejemplo */
.bg-cash {
  background-color: #28a745; /* Color de fondo verde */
}

.bg-house {
  background-color: #ffc107; /* Color de fondo amarillo */
}

.bg-houses {
  background-color: #17a2b8; /* Color de fondo amarillo */
}

.bg-info {
  background-color: #17a2b8; /* Color de fondo azul */
}

::ng-deep app-table-filters button {
  height: 2rem; /* Con esto fuerzo al boton que esta dentro del app-table-filters al tamaño que quiero */
  width: 3rem;
  padding: 0.5rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

app-main-container {
  overflow-x: hidden;
}

.kpi {
  display: flex !important;
  justify-content: flex-end;
}