<ng-template #statusTemplate let-item>
  <div class="d-flex">
    <i class="bi" [ngClass]="{
      'bi-check2-circle text-success fs-3': !item.is_delete,
      'bi-x-circle text-danger fs-4': item.is_delete
    }"></i>
  </div>
</ng-template>

<ng-template #actionsTemplate let-item>
  @if (item.is_updatable) {
    <button
      type="button"
      class="btn btn-warning btn-sm m-1"
      (click)="editCategory(item)"
      title="Editar">
      <i class="bi bi-pencil"></i>
    </button>
    <button
      type="button"
      class="btn btn-danger btn-sm"
      (click)="deleteCategory(item)"
      title="Eliminar">
      <i class="bi bi-trash"></i>
    </button>
  } @else {
    <button
      type="button"
      class="btn btn-warning btn-sm m-1"
      (click)="editCategory(item)"
      title="Editar"
      disabled
    >
      <i class="bi bi-pencil"></i>
    </button>
    <button
      type="button"
      class="btn btn-danger btn-sm"
      (click)="deleteCategory(item)"
      title="Eliminar"
      disabled
    >
      <i class="bi bi-trash"></i>
    </button>
  }
</ng-template>

<app-main-container title="Lista de categorías" (infoButtonClick)="showInfo()">
  <app-table
    [isLoading]="isLoading"
    [items]="categories"
    [columns]="columns"
    [pagination]="{
      totalItems: totalItems,
      page: page,
      size: size,
      onPageChange: onPageChange,
      onPageSizeChange: onPageSizeChange
    }"
    [showSearchBar]="true"
    searchPlaceHolder="Buscar..."
    (searchValueChange)="onSearchValueChange($event)"
    (headerButtonClick)="openFormModal()"
    [showHeaderButton]="true"
    [tableFilters]="filterConfig"
    (filterValueChange)="onFilterValueChange($event)"
    (excelButtonClick)="downloadTable()"
    (pdfButtonClick)="imprimirPDF()"
  ></app-table>
</app-main-container>

<!--<div class="container mt-4">
  <div class="row mb-3 align-items-center">
    <div class="col">
      <h1>Lista de categorías</h1>
    </div>

    <div class="col">
      <div class="row justify-content-end align-items-center gap-0">
        <div class="col-auto">
          <button class="btn btn-outline-primary" (click)="openNewCategoryModal()">
            Nuevo
          </button>
        </div>

        <div class="col-auto">
          <div class="input-group">
            <span class="input-group-text">
              <i class="bi bi-search"></i>
            </span>
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="searchTerm">
          </div>
        </div>
      </div>
    </div>
  </div>

  @if (isLoading) {
    <div class="text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  } @else if (categories.length > 0) {
    &lt;!&ndash; Envolvemos la tabla en un div con altura fija y scroll &ndash;&gt;
    <div class="container" style=" overflow-y: auto;">
      <table class="table table-hover table-striped border">
        &lt;!&ndash; Hacemos el thead sticky con una clase de Bootstrap &ndash;&gt;
        <thead class="table-light sticky-top bg-light">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
          @for (category of categories | filterBy: ['name', 'description']: searchTerm | orderBy: 'name'; track category.category_id) {
            @if (!category.is_delete){
              <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td class="text-center">
                  @if (category.is_updatable) {
                    <button
                      type="button"
                      class="btn btn-warning btn-sm m-1"
                      (click)="editCategory(category)"
                      title="Editar">
                      <i class="bi bi-pencil"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger btn-sm"
                      (click)="deleteCategory(category)"
                      title="Eliminar">
                      <i class="bi bi-trash"></i>
                    </button>
                  }
                </td>
              </tr>
            }
          } @empty {
            <tr>
              <td colspan="3" class="text-center">No se encontraron categorías</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="col-6 d-flex justify-content-start mt-3">
      <button type="button" class="btn btn-secondary" routerLink="/gastos/nuevo">Volver</button>
    </div>
    <div class="col-6 d-flex justify-content-end mt-3">
      <button type="button" class="btn btn-outline-secondary ms-2" (click)="showInfo()"><i class="bi bi-info-circle"></i></button>
    </div>

  } @else {
    <div class="alert alert-info">
      No hay categorías registradas.
    </div>
  }
</div>-->
