<div class="modal-header d-flex justify-content-between">
  <h5 class="modal-title">{{ isEditing ? 'Editar' : 'Ver' }} Cargo</h5>
  <button type="button" class="close d-flex justify-content-end" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="chargeForm">
    <div class="form-row  mb-3">
      <div class="form-group col-md-12 d-flex  align-items-start justify-content-between">
        <label for="fechaEmision" class="form-label col-md-4">Fecha de emisión<span style="color: red;">*</span></label>
        <input type="date" class="form-control " id="fechaEmision" formControlName="fechaEmision"
        [ngClass]="{ 'is-invalid': chargeForm.controls['fechaEmision'].touched && chargeForm.controls['fechaEmision'].hasError('required') }"
        [attr.disabled]="!isEditing ? null : null">
      </div>
    </div>

    <div class="form-row  mb-3">
        <div class="form-group col-md-12 d-flex  align-items-center justify-content-between">
          <label for="lote" class="form-label col-md-4"  >Lote<span style="color: red;">*</span></label>
          <input type="text" class="form-control" id="lote" formControlName="lote"
          [ngClass]="{ 'is-invalid': chargeForm.controls['lote'].touched && chargeForm.controls['lote'].hasError('required') }"
          >
        </div>
    </div>

    <div class="form-row mb-3">
      <div class="form-group col-md-12 d-flex  align-items-center justify-content-between">
        <label for="categoryCargos" class="form-label col-md-3">Categoría<span style="color: red;">*</span></label>
        <select name="categoryCargos" id="categoryCargos" class="form-select" aria-label="Default select example"
        formControlName="tipo"
        [attr.disabled]="!isEditing ? '' : null">
          <option [value]="0">Todas</option>
          @for (category of categoryCharges; track $index) {
            <option [value]="category.categoryChargeId">{{category.name}}</option>
          }
        </select>
        <!-- <div class="form-group col-md-1 text-center d-flex align-items-center justify-content-center mt-4">
          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#categoriaModal">+</button>
        </div> -->
      </div>
    </div>
    <div class="form-row mb-3">
      <div class="form-group col-md-12 d-flex  align-items-center justify-content-between">
        <label for="periodo" class="form-label col-md-3">Periodo<span style="color: red;">*</span></label>
              <select name="periodo" id="periodo" class="form-select" aria-label="Default select example"
              formControlName="periodo"
                [attr.disabled]="!isEditing ? '' : null">
                @for (period of periodos; track $index) {
                  <option [value]="period.id">{{period.month}} / {{period.year}}</option>
                }
              </select>
      </div>
    </div>

    <div class="form-row mb-3">
      <div class="form-group col-md-12 d-flex  align-items-center justify-content-between">
        <label for="monto" class="form-label col-md-3">Monto<span style="color: red;">*</span></label>
        <input type="text" class="form-control" id="monto" formControlName="monto"
          [attr.disabled]="!isEditing ? '' : null">
      </div>
    </div>

    <div class="form-group mb-3">
      <div class="form-group col-md-12 d-flex  align-items-start justify-content-between">
        <label for="descripcion"class="form-label col-md-3">Descripción</label>
        <textarea id="descripcion" class="form-control" formControlName="description" rows="3"
          [attr.disabled]="!isEditing ? '' : null"></textarea>
      </div>

    </div>
  </form>
</div>
<div class="modal-footer">
  @if (!isEditing) {
  <!-- <button type="button" class="btn btn-warning" (click)="enableEdit()">Modificar</button>
  } -->
  <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cerrar</button> }
  @if (isEditing) {
    <button type="button" class="btn btn-danger" (click)="cancelEdit()">Cancelar</button>
  <button type="button" class="btn btn-primary" (click)="saveChanges()">Guardar</button>
  }
</div>


<!-- esto va en el componente de add new category -->
<div class="modal fade" id="categoriaModal" tabindex="-1" role="dialog" aria-labelledby="categoriaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="categoriaModalLabel">Agregar nueva categoría</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nombreCategoria">Nombre de la categoría</label>
            <input type="text" class="form-control" id="nombreCategoria"
              placeholder="Ingresa el nombre de la categoría">
          </div>
          <div class="form-group">
            <label for="descripcionCategoria">Descripción</label>
            <textarea id="descripcionCategoria" class="form-control" rows="3"
              placeholder="Descripción de la categoría"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar categoría</button>
      </div>
    </div>
  </div>
</div>
