<app-main-container
  [title]="'Liquidación de Expensas ' + liquidationExpense.bill_type?.name + ' | ' + liquidationExpense.period?.month + ' / ' + liquidationExpense.period?.year"
  (infoButtonClick)="showModal(modalTemplate)"
>

  <app-table
    [items]="billsFiltered"
    [showSearchBar]="true"
    [showHeaderButton]="false"
    [pagination]="tablePagination"
    (excelButtonClick)="downloadTable()"
    (pdfButtonClick)="imprimir()"
    [tableFilters]="filters"
    [columns]="columns"
    (searchValueChange)="filterTable($event)"
  >
  <div>
    <p style="margin: 0; font-size: 14px;"  class="text-end">
      <b>Monto Total</b>
    </p>
    <p style="margin: 0; font-size: 14px;" class="text-end">
      {{
        liquidationExpense.total_amount?.toLocaleString("es-AR", {
          style: "currency",
          currency: "ARS",
          minimumFractionDigits: 2,
          maximumFractionDigits: 2
        })
      }}
    </p>
  </div>
  </app-table>
</app-main-container>


<ng-template #modalTemplate let-modal>
  <app-confirm-alert
    [alertTitle]="'Acerca de Gastos de expensa'"
    [alertMessage]="'En esta pantalla se desplliegan los gastos de la expensa previamente seleccionada. Los gastos puede ser filtrada tanto por categoría o por sus proveedores y presentan botones para ver la factura del pago o para editarla'"
    [alertType]="'info'"
  ></app-confirm-alert>
</ng-template>
