<!-- <ng-template #amountTemplate let-item>
  <p class="text-end hola">
    hola
  </p>
</ng-template> -->

<app-main-container
  [title]="'Liquidación de Expensas | ' + liquidationExpense.period?.month + ' / ' + liquidationExpense.period?.year"
  (infoButtonClick)="showModal(modalTemplate)"
>

  <app-table
    [items]="billsFiltered"
    [showSearchBar]="true"
    [showHeaderButton]="false"
    (excelButtonClick)="downloadTable()"
    (pdfButtonClick)="imprimir()"
    [tableFilters]="filters"
    [columns]="columns"
    (searchValueChange)="filterTableByText($event)"
    (filterValueChange)="filterTableBySelects($event)"
    [pagination]="{
      totalItems: totalItems,
      page: page,
      size: size,
      onPageChange: onPageChange,
      onPageSizeChange: onPageSizeChange
    }"
  >
  </app-table>

  <ng-template #modalTemplate let-modal>
    <app-confirm-alert
      [alertTitle]="'Acerca de Gastos de expensa'"
      [alertMessage]="'En esta pantalla se desplliegan los gastos de la expensa previamente seleccionada. Los gastos puede ser filtrada tanto por categoría o por sus proveedores y presentan botones para ver la factura del pago o para editarla'"
      [alertType]="'info'"
    ></app-confirm-alert>
  </ng-template>

</app-main-container>


