<app-main-container title="Listado de Gastos" (infoButtonClick)="showInfo()">
  <ng-template #actionsTemplate let-bill>
    <div class="btn-group" role="group">
      <button class="btn btn-sm btn-warning me-2" (click)="editBill(bill)">
        <i class="bi bi-pencil"></i>
      </button>
      <button class="btn btn-sm btn-primary" (click)="viewBill(bill)">
        <i class="bi bi-eye"></i>
      </button>
    </div>
  </ng-template>
  <app-table [items]="filteredBills" [columns]="columns" [pagination]="{
    totalItems: totalItems,
    page: page,
    size: size,
    onPageChange: onPageChange,
    onPageSizeChange: onPageSizeChange
  }"
  [showSearchBar]="true"
  [isLoading]="isLoading"
  (searchValueChange)="onSearchValueChange($event)"
  (headerButtonClick)="nuevoGasto()"
  [showHeaderButton]="true"
  (filterValueChange)="onFilterValueChange($event)"
  [tableFilters]="filterConfig"
  (excelButtonClick)="downloadTable()"
  (pdfButtonClick)="imprimir()">
</app-table>
</app-main-container>