<app-expenses-period-nav />
<div class="row">
  
  <div class="col-2">
    <button (click)="newPeriod()" class="btn btn-outline-primary">Nuevo Período</button>
  </div>
  <div class="row align-items-center mb-3">
    <div class="col-sm-12 col-md-8 col-xl-8">
      <div class="input-group" style="max-width: 280px">
        <span class="input-group-text" id="search-icon">
          <i class="bi bi-search"></i>
        </span>
        <input
          type="text"
          class="form-control"
          id="filter-text-box"
        />
      </div>
    </div>
    <div
      class="col-sm-12 col-md-4 col-xl-64 text-xl-center text-center mt-3 mt-md-0 d-flex align-items-center justify-content-end"
    >
      <button type="button" class="btn btn-outline-primary">Nuevo</button>
  
      <div class="vertical-line mx-3"></div>
  
      <button
        class="btn btn-success me-2 mb-md-2 mb-xl-0 mt-2 mt-xl-0"
      >
        <i class="bi bi-file-earmark-excel"></i>
      </button>
      <button
        class="btn btn-danger me-2 mb-md-2 mb-xl-0 mt-2 mt-xl-0"
      >
        <i class="bi bi-file-earmark-pdf"></i>
      </button>
    </div>
  </div>
  <div class="col-10" style="display: flex ;flex-direction: row; justify-content: end;">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" 
      name="btnradio" id="btnradio1" 
      autocomplete="off"  checked>
      <label class="btn btn-outline-primary" for="btnradio1">Lotes Activos</label>
    
      <input type="radio" class="btn-check" 
      name="btnradio" id="btnradio2" 
      autocomplete="off" >
      <label class="btn btn-outline-primary" for="btnradio2">Lotes Inactivos</label>
    
      <input type="radio" class="btn-check" 
      name="btnradio" id="btnradio3" 
      autocomplete="off" >
      <label class="btn btn-outline-primary" for="btnradio3">Todos</label>
    </div>
  </div>
  
</div>

<table class="table table-striped fixed-table" style="border: 1px solid rgba(0, 0, 0, 0.150); border-collapse: collapse;" >
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Total Extraordinarias</th>
      <th scope="col">Total Ordinarias</th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @if (listPeriod.length ===0) {
      <div class="text-center p-3">
        <div class="alert alert-secondary" role="alert">
          No hay elementos para mostrar
        </div>
      </div>

    } @else {
      @for (period of listPeriod; track $index) {
        <tr>
          <td>{{ period.month }} / {{ period.year }}</td>
          <td style="text-align: end;"> ${{ period.ordinary?.amount }}</td>
          <td style="text-align: end;" >${{ period.extraordinary?.amount }}</td>
          <td>{{ period.state }}</td>
          <td style="display: flex; flex-direction: row; gap: 2px;justify-content: center;">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item btn btn-danger">Reactivar</a></li>
                  <li><a class="dropdown-item btn btn-primary" >Detalle Dueños</a></li>
                  <li><a class="dropdown-item btn btn-info"  >Editar</a></li>
                  <li><a class="dropdown-item btn btn-danger" data-bs-target="#exampleModal" data-bs-toggle="modal">Eliminar</a></li>
                
                <li><a class="dropdown-item btn btn-primary">Detalle</a></li>
              </ul>
            </div>
            <a [href]="'/periodo/' + period.id + '/liquidacion'" class="link-dark">
              <button class="btn btn-outline-success">ver</button></a
            >
            @if (period.state!=="CLOSE") {
              <button class="btn btn-outline-danger" (click)="open(modalTemplate, period.id)">Cerrar</button>
            }
          </td>
        </tr>
        }
    }
  
  </tbody>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a
          class="page-link"
          (click)="changeIndex(this.indexActive - 1)"
          [ngClass]="{ disabled: this.indexActive == 0 }"
          >&lt;</a
        >
      </li>
      @for (item of cantPages; track $index) {
      <li class="page-item">
        <a
          class="page-link"
          (click)="changeIndex($index)"
          [ngClass]="{ active: this.indexActive == $index }"
          >{{ $index + 1 }}</a
        >
      </li>
      }
      <li class="page-item">
        <a
          class="page-link"
          (click)="changeIndex(this.indexActive + 1)"
          [ngClass]="{
            disabled: this.indexActive == this.cantPages.length - 1
          }"
          >&gt;</a
        >
      </li>
    </ul>
  </nav>
</table>

<ng-template #modalTemplate let-modal>
  <app-expenses-modal
    [title]="'Cierre de Periodo'"
    [paragraph]="
      '¿Desea cerrar el periodo?. Recuerde que una vez concluido el cierre del periodo no podra agregar, modificar o eliminar gastos o periodos.'
    "
    (onAccept)="closePeriod()"
    (onCancel)="modal.dismiss('cancel')"
  ></app-expenses-modal>
</ng-template>
