<app-expenses-period-nav />
<div class="row align-items-center mb-3">
  <div class="col-sm-12 col-md-8 col-xl-8">
    <div class="input-group" style="max-width: 280px">
      <span class="input-group-text" id="search-icon">
        <i class="bi bi-search"></i>
      </span>
      <input type="text" class="form-control" id="filter-text-box" />
    </div>
  </div>
  <div
    class="col-sm-12 col-md-4 col-xl-64 text-xl-center text-center mt-3 mt-md-0 d-flex align-items-center justify-content-end"
  >
    <div class="col-6">
      <button (click)="newPeriod()" class="btn btn-outline-primary">
        Nuevo Período
      </button>
    </div>
    <div class="vertical-line mx-3"></div>

    <button class="btn btn-success me-2 mb-md-2 mb-xl-0 mt-2 mt-xl-0">
      <i class="bi bi-file-earmark-excel"></i>
    </button>
    <button class="btn btn-danger me-2 mb-md-2 mb-xl-0 mt-2 mt-xl-0">
      <i class="bi bi-file-earmark-pdf"></i>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-6 d-flex">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-outline-danger">
        <i class="bi bi-trash-fill"></i> Limpiar
      </button>

      <button
        type="button"
        class="btn btn-outline-info dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="bi bi-funnel-fill"></i> Filtros
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="selectFilter('mes')">Mes</a></li>
        <li><a class="dropdown-item" (click)="selectFilter('año')">Año</a></li>
      </ul>
    </div>
    @if (typeFilter==="año") {
    <div>
      <input
        type="number"
        class="form-control me-2"
        id="filter-number"
        placeholder="Número de Lote"
      />
    </div>
    } @else if (typeFilter === "mes") {
    <div>
      <select class="form-select me-2" id="month-select">
        <option value="" disabled selected>Seleccione un mes</option>
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
      </select>
    </div>
    } @if (typeFilter) { }
  </div>

  <div
    class="col-6"
    style="display: flex; flex-direction: row; justify-content: end"
  >
    <div
      class="btn-group"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio1"
        autocomplete="off"
        (change)="changeStateQuery('OPEN')"
      />
      <label class="btn btn-outline-primary" for="btnradio1"
        >Periodo Activos</label
      >

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio2"
        autocomplete="off"
        (change)="changeStateQuery('CLOSE')"
      />
      <label class="btn btn-outline-primary" for="btnradio2"
        >Periodo Inactivo</label
      >

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio3"
        autocomplete="off"
        (change)="changeStateQuery(null)"
        checked
      />
      <label class="btn btn-outline-primary" for="btnradio3">Todos</label>
    </div>
  </div>
</div>

<table
  class="table table-striped fixed-table"
  style="border: 1px solid rgba(0, 0, 0, 0.15); border-collapse: collapse"
>
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Total Extraordinarias</th>
      <th scope="col">Total Ordinarias</th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @if (listPeriod.length ===0) {
    <tr>
      <td
        class="alert alert-secondary"
        role="alert"
        colspan="5"
        style="width: 100%; text-align: center"
      >
        No hay elementos para mostrar
      </td>
    </tr>

    } @else { @for (period of listPeriod; track $index) {
    <tr>
      <td>{{ period.month }} / {{ period.year }}</td>
      <td style="text-align: end">${{ period.ordinary?.amount }}</td>
      <td style="text-align: end">${{ period.extraordinary?.amount }}</td>
      <td>
        <app-expenses-state-period-style
          [estado]="period.state"
        ></app-expenses-state-period-style>
      </td>
      <td
        style="
          display: flex;
          flex-direction: row;
          gap: 2px;
          justify-content: center;
        "
      >
        <div class="btn-group" role="group">
          <button
            type="button"
            class="btn btn-sm btn-secondary dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-three-dots-vertical"></i>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item btn btn-primary"
                [href]="'/periodo/' + period.id + '/expensas'"
                >Expensas</a
              >
            </li>
            <li>
              <a
                class="dropdown-item btn btn-info"
                [href]="'/periodo/' + period.id + '/liquidacion'"
                >Liquidacion</a
              >
            </li>
            @if (period.state!=="CLOSE") {
            <li>
              <a
                class="dropdown-item btn btn-danger"
                data-bs-target="#exampleModal"
                data-bs-toggle="modal"
                (click)="open(modalTemplate, period.id)"
                >Cerrar</a
              >
            </li>
            }
            <li><a class="dropdown-item btn btn-primary">Detalle</a></li>
          </ul>
        </div>
      </td>
    </tr>
    } }
  </tbody>
</table>
<div class="row d-flex align-items-between">
  <div class="col-1">
    <select
      name="tipoExpensa"
      id="tipoExpensa"
      class="form-select"
      aria-label="Default select example"
      (change)="onSelectChange($event)"
    >
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
  </div>
  <div
    class="col-11"
    style="display: flex; flex-direction: row; justify-content: end"
  >
    <ngb-pagination
      [(page)]="currentPage"
      [pageSize]="size"
      [collectionSize]="cantPages.length"
      (pageChange)="changeIndex($event)"
      [maxSize]="5"
      [boundaryLinks]="false"
    ></ngb-pagination>
  </div>
</div>

<ng-template #modalTemplate let-modal>
  <app-expenses-modal
    [title]="'Cierre de Periodo'"
    [paragraph]="
      '¿Desea cerrar el periodo?. Recuerde que una vez concluido el cierre del periodo no podra agregar, modificar o eliminar gastos o periodos.'
    "
    (onAccept)="closePeriod()"
    (onCancel)="modal.dismiss('cancel')"
  ></app-expenses-modal>
</ng-template>
