<div class="container" style="margin-top: 18px;">
    <div class="row">
        <h3>Expensas</h3>
      <div class="col-2" >
          <label for="perido">Periodo</label>
          <app-period-select (periodSelected)="loadSelect()"></app-period-select>
          
      </div>
      <div class="col-2">
        <label for="">Lote</label>
        <select name="lote" id="lote" class="form-select" aria-label="Default select example" [ngModel]="selectedOptionLot" (ngModelChange)="onOptionChange($event)">
          <option [defaultSelected]="0" [value]="0">Todos</option>
          @for (lot of lots; track $index ) {
            <option [value]="lot.id">{{lot.plot_number}}</option>
          }
        </select>
      </div>
      <div class="col-2">
        <label for="">Categoria</label>
        <select name="lote" id="lote" class="form-select" aria-label="Default select example" [ngModel]="selectedOptionLot" (ngModelChange)="onOptionChange($event)">
          <option [defaultSelected]="0" [value]="0">Todos</option>
          @for (lot of lots; track $index ) {
            <option [value]="lot.id">{{lot.plot_number}}</option>
          }
        </select>
      </div>
      <div class="col-2">
          <button class="btn btn-primary">Limpiar filtros</button>
      </div>
     
    </div>
   <br>
    <div>
      
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Numero de Lote</th>
            <th scope="col">Período</th>
            <th scope="col">Monto Total</th>
            <th scope="col">Fecha de liquidación</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (expense of expenses; track $index) {
            <tr>
              <td>{{expense.plotNumber}} </td>
              <td>{{expense.period?.month}} / {{expense.period?.year}} </td>
              <td>{{expense.totalAmount}} </td>
              <td>{{expense.liquidationDate}}</td>
              <td><button class="btn btn-primary" >Accion</button></td>
            </tr>
          }
                
        </tbody>
        <h3>Cantidad: {{expenses.length}} </h3>
      </table>
    </div>
  
    
  </div>
