<div class="container" style="margin-top: 18px;">
    <div class="row" style="align-items:end" >
      <h3>Expensas</h3>
      <div class="col-2">
        <label for="periodo">Período</label>
        <select name="periodo" id="periodo" class="form-select" aria-label="Default select example" [(ngModel)]="selectedPeriodId" (ngModelChange)="onOptionChange()">
          <option [value]="null">Todos</option>
          @for (period of periodos; track $index) {
            <option [value]="period.id">{{period.month}} / {{period.year}}</option>
          }
        </select>
      </div>
      <div class="col-2">
        <label for="lote">Lote</label>
        <select name="lote" id="lote" class="form-select" aria-label="Default select example" [(ngModel)]="selectedLotId" (ngModelChange)="onOptionChange()">
          <option [value]="null">Todos</option>
          @for (lot of lots; track $index) {
            <option [value]="lot.id">{{lot.plot_number}}</option>
          }
        </select>
      </div>
  
      <div class="col-2">
        <label for="tipoExpensa">Tipo de expensa</label>
        <select name="tipoExpensa" id="tipoExpensa" class="form-select" aria-label="Default select example" [(ngModel)]="selectedTypeId" (ngModelChange)="onOptionChange()">
          <option [value]="null">Todas</option>
          @for (tipo of tipos; track $index) {
            <option [value]="tipo.bill_type_id">{{tipo.name}}</option>
          }
        </select>
      </div>
  
      <div class="col-2">
        <button class="btn btn-primary" (click)="clearFilters()">Limpiar filtros</button>
      </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="downloadTable()">Descargar Tabla</button>
      </div>
    </div>
   <br>
    <div>
      
      <table class="table table-striped" id="table-data">
        <thead>
          <tr>
            <th scope="col">Número de Lote</th>
            <th scope="col">Tipo de lote</th>
            <th scope="col">Período</th>
            <th scope="col">Monto Total</th>
            <th scope="col">Porcentaje</th>
            <th scope="col">Tipo de expensa</th>
            <th scope="col">Fecha de liquidación</th>
          </tr>
        </thead>
        <tbody>
          @for (expense of expenses; track $index) {
            <tr>
              <td>{{expense.plotNumber}} </td>
              <td>{{expense.typePlot}}</td>
              <td>{{expense.period?.month}} / {{expense.period?.year}} </td>
              <td>{{'$' + expense.totalAmount }} </td>
              <td>{{expense.percentage  * 100 + '%'}}</td>
              <td>{{expense.billType}}</td>
              <td>{{expense.liquidationDate | date:'MMM d, yyyy'}}</td>
            </tr>
          }
                
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 0">
            <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
    
          <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
              [class.active]="i === currentPage">
            <a class="page-link" (click)="onPageChange(i)">{{ i + 1 }}</a>
          </li>
    
          <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
            <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  
    
  </div>
