<app-expenses-period-nav />
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Lote</th>
        <th scope="col">Propietario</th>
        <th scope="col">Tipo de Lote</th>
        <th scope="col">Porcentaje</th>
        <th scope="col">Expensa</th>
        <th scope="col">Monto</th>
      </tr>
    </thead>
    <tbody>
      @for (expense of listExpenses; track $index) {
      <tr>
        <th scope="row">{{expense.lotId}} </th>
        <td></td>
        <td>{{expense.typePlot}} </td>
        <td>{{expense.percentage }} </td>
        <td>{{expense.billType}} </td>
        <td>${{expense.totalAmount.toLocaleString("es-AR", {
          style: "currency",
          currency: "ARS",
          minimumFractionDigits: 2,
          maximumFractionDigits: 2
        })}} </td>
      </tr>
      }
    </tbody>
  </table>
</div>
