<h1>Periodo</h1>
@if (listExpenses[0]) {
<h3>
  Expensas {{ listExpenses[0].period.month }} -
  {{ listExpenses[0].period.year }}
</h3>

}

<div
  class="container-fluid text-xl-center text-center mt-3 mt-md-0 d-flex align-items-center justify-content-between"
>
  <div class="row align-items-center mb-3">
    <div class="col-sm-12 col-md-12 col-xl-12">
      <div class="input-group" style="max-width: 360px">
        <span class="input-group-text" id="search-icon">
          <i class="bi bi-search"></i>
        </span>
        <input
          type="text"
          class="form-control"
          id="filter-text-box"
          placeholder="Buscar"
        />
      </div>
    </div>
  </div>

  <div
    class="col-sm-12 col-md-4 col-xl-64 text-xl-center text-center mt-3 mt-md-0 d-flex align-items-center justify-content-end"
  >
    <div class="col align-items-center mb-3 d-flex justify-content-end">
      <div style="margin-left: 20px">
        <button class="btn btn-success me-2 mb-md-2 mb-xl-0 mt-2 mt-xl-0">
          <i class="bi bi-file-earmark-excel"></i>
        </button>
        <button class="btn btn-danger me-2 mb-md-2 mb-xl-0 mt-2 mt-xl-0">
          <i class="bi bi-file-earmark-pdf"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="container-fluid text-xl-center text-center mt-3 mt-md-0 d-flex align-items-center justify-content-end"
>
  <div class="col-6 d-flex">
    <div class="btn-group me-2">
      <button
        type="button"
        (click)="changeFilter(null)"
        class="btn btn-outline-danger"
      >
        <i class="bi bi-trash-fill"></i> Limpiar
      </button>

      <button
        type="button"
        class="btn btn-outline-info dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="bi bi-funnel-fill"></i> Filtros
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" (click)="changeFilter('Lote')">Lote</a>
        </li>
      </ul>
    </div>
    <div>
      @if (filter==="Lote") {
      <input
        type="number"
        class="form-control me-2"
        id="filter-number"
        name="Lote"
        [min]="1"
        [(ngModel)]="lote"
      />
      }
    </div>
    <div>
      @if (filter) {
      <div class="ms-auto">
        <button class="btn btn-secondary" type="button" (click)="finde()">
          Buscar
        </button>
      </div>
      }
    </div>
  </div>
  <div
    class="col-6"
    style="display: flex; flex-direction: row; justify-content: end"
  >
    <div
      class="btn-group"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio2"
        autocomplete="off"
        (click)="selectType('Extraordinarias')"
      />
      <label class="btn btn-outline-primary" for="btnradio2"
        >Extraordinarias</label
      >
      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio3"
        autocomplete="off"
        (click)="selectType('Ordinarias')"
      />
      <label class="btn btn-outline-primary" for="btnradio3">Ordinarias</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio1"
        autocomplete="off"
        checked
        (click)="selectType(undefined)"
      />
      <label class="btn btn-outline-primary" for="btnradio1">Todas</label>
    </div>
  </div>
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Lote</th>
        <th scope="col">Tipo de Lote</th>
        <th scope="col" style="text-align: end">Porcentaje</th>
        <th scope="col">Expensa</th>
        <th scope="col" style="text-align: end">Monto</th>
      </tr>
    </thead>
    <tbody>
      @for (expense of listExpenses; track $index) {
      <tr>
        <th scope="row">{{ expense.lotId }}</th>
        <td>{{ expense.typePlot }}</td>
        <td style="text-align: end">{{ expense.percentage * 100 }}%</td>
        <td>{{ expense.billType }}</td>
        <td style="text-align: end">
          {{
            expense.totalAmount.toLocaleString("es-AR", {
              style: "currency",
              currency: "ARS",
              minimumFractionDigits: 2,
              maximumFractionDigits: 2
            })
          }}
        </td>
      </tr>
      }
    </tbody>
  </table>
  <div class="row d-flex align-items-between">
    <div class="col-1">
      <select
        name="tipoExpensa"
        id="tipoExpensa"
        class="form-select"
        aria-label="Default select example"
        (change)="onSelectChange($event)"
      >
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
      </select>
    </div>
    <div
      class="col-11"
      style="justify-content: end; display: flex; flex-direction: row"
    >
      <ngb-pagination
        [(page)]="currentPage"
        [pageSize]="size"
        [collectionSize]="cantPages"
        (pageChange)="changeIndex($event)"
        [maxSize]="5"
        [boundaryLinks]="false"
      ></ngb-pagination>
    </div>
    <div class="row">
      <div class="col-2"><a href="/periodo"><button class="btn btn-secondary"  >Volver</button></a></div>
    </div>
  </div>
</div>
